<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
  {% block title %}
    Django
  {% endblock title %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>


{% block NavigationMenu %}
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'logout' %}">Loguot</a></li>
        <li><a href="{% url 'protected' %}">Posts</a></li>
      </ul>
    </nav>
  </header>
{% endblock NavigationMenu %}
    
  {% block content %}
    
  {% endblock content %}
    
</body>
</html>